@media(min-width:1200px){
.container{
width: 1170px;
}
}
@media(min-width:992px){
.container{
max-width: 960px;
}
}
@media(min-width:992px){
.container{
width: 990px;
}
}
@media(min-width:768px){
.container{
width: 960px;
}


}
@media(max-width:992px){
.project section .cards{
display: block;
}
section#profilo .container .box-imge {
display: block;
}
section#Blog .container .room{
display: grid;
grid-template-columns:repeat(2, auto);
}
.project section .image{
width: 150px;
margin-left: 50px;
}
.project section .image::after {
content: "";
position: absolute;
width: 35px;
height: 35px;
border-bottom: 5px solid var(--skin-color);
border-right: 5px solid var(--skin-color);
top: 97%;
left: 219px;
}
}
@media(max-width:992px){
section#Services .container .box-size{
display: grid;
grid-template-columns: repeat(2 ,1fr);
}

}
@media(max-width:768px){
section .container .box,
.project .header .container  .fa-bars{
display: block;
}
.project .header .container .nav{
display: none;
}
.project .header .container .mega{
display: block;
position: absolute;
top: 69px;
left: 74%;
width: 26%;
height: 250px;
background-color: var(--alt-Basic-black-color);
}
.project .header .container .nav.open li {
padding-top: 16px;
}
.project .header .container .nav.open li a{
color: aliceblue;
font-size: 20px;
text-align: center;
}
.project .header .container .nav.open {
    width: 39%;
    display: block;
    background: var(--Basic-black-color);
    position: absolute;
    top: 62px;
    left: 62%;
    height: 280px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #0000ffa8;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    padding-left: 36px;
    text-align: center;
    z-index: 100;
}
.filter > li.lage{
    font-size: 15px;
    color: blue;
    display: none;
}

section .container .box .iamge{
text-align: center;
}
section#Services .container .box-size{
display: flex;
flex-direction: column;
}
section#Blog .container .room{
display: block;
}
section#profilo .container .all-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}
@media(max-width:500px){
    .list{
        width: 146px;
    }
}
